.splash-container {
    position: fixed;

    display: flex;
    flex-direction: column;
    /*align-content:center;*/
    /*justify-content: center;*/
    background-color: rgba(55, 55, 55, 0.75);
    color: white;

    height: 100vh;
    width: 100vw;

    z-index: 100;
    padding-top: 5%;
}

.splash-text {
    font-size: 2rem;
    align-self: center;
}

.splash-text-sub {
    align-self: center;
}

.splash-text-debug {
    align-self: center;
    color: red;
}

.splash-loader-container {
    margin-top:15px;
    display: flex;
    justify-content: center;
}

.splash-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: splash-spin 2s linear infinite;
}

@keyframes splash-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}